<header>
    <h1> Best books! </h1>
    <a href="/">Home Page</a>
    <a href="/searches/new">Search</a>
</header>
    <section>
            <% bookdetail.forEach(data => { %>
                <div>
                <img src= <%= data.image_url %>  alt="">
                <h2> <%= data.title %> </h2>
                <h3> <%= data.author %> </h3>
                <p> <%= data.description %> </p>
                </div>
                <% }) %>
            </section>

            
    