<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book App</title>
</head>
<body>
    <header>
        <h1> Best books! </h1>
        <a href="/">Home Page</a>
        <a href="/searches/new">Search</a>
    </header>
    <main>
        <%- include('detail')  %> 
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>