<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
    <header>
        <h1> Best books! </h1>
    </header>
    <div>
    <a href="/searches/new">Search</a>
</div>

<section>
    <% booksArrData.forEach(data => { %>
        <div>
        <img src= <%= data.image_url %>  alt="">
        <h2> <%= data.title %> </h2>
        <h3> <%= data.author %> </h3>
        <button><a href="/details/<%=data.id %>">View details</a></button>
        </div>
        <% }) %>
    </section>
    
</body>
</html>